AWS_ACCESS_KEY_ID="f2j30f4jf0934jf049wjf0sejfosndfjnc2oi3nd"
AWS_SECRET_ACCESS_KEY="r23irj20h4f029hf20rfh40fwrhe9df"
AWS_REGION="eu-west-1"

TERRA_BUCKET = "YnVja2V0ICAgICAgICAgPSAieW91292LXRlc3QtdGVzdGluZy10ZnN0YXRlIgpkeW5hbWZ9kYd213d34f34gf3tgeagfdghgrhbnvcbbdrgemybV9kZXYiCmVuY3J5cHQgICAgICAgID0gdHJ1ZQpyZWdpb24gICAgICAgICA9ICJldS13ZXN0LTIiCmtleSAgICAgICAgICAgID0gInRlcnJhZm9ybSIK"
TERRA_VARS = "cmVnaW9uICAgICAgg4g3ICAgID0gImV1LXdlc3QtMSIKbWFpbbgfbzcbzt534t34rt3ffvjhgmbnmvxbzcgrgegtem9ubWVudCAgICAgPSAidGVzdGluZyI="

ECR_NAME = "ecr-test"